/* pages and rabbit holes */
:root {
   --computer: #dbdfe2;
   --computer-shadow: #aaabaf;
   --space: #010837;
   --text: #65ffff;
   --white: #ffffff;
   --offwhite: #f1f1f1;
   --grey: #ccc;
   --black: #000000;
   --offblack: #1B1B1B;
   --orange: #Ffac48;
   --purple: #DC66FA;
   --teal: #65d1d1;
         }
/* body */
body {
background-color: var(--offblack);
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.n-black {
  background-color: var(--offblack);
}


/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/about/nostr-ings-background.png");
  min-height: 100%;
}
.bgimg-2 {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/about/nostr-ings-background.png");
  min-height: 20%;
}
.n-padding-top {
  padding-top: 10%;
}

.n-padding {
  padding: 20%, 5%, 20%, 5%;
}

.w3-bar .w3-button {
  padding: 16px;
}
.n-text-purple, .n-text-purple a {
  color: var(--purple);
}
.npub {
  word-wrap: break-word;
}
/* navigation search */
/* Style the search box */
#nostrSearch {
 width: 85%;
 font-size: 1.3em;
 padding: 3px 3px 3px 15px;
 margin-left: 10px;
 border-radius: 25px;
 border: 1px solid white;
 color: black;
}

/* Style the navigation menu */
#nostrClients, #nostrGlossary {
 padding: 0;
 margin: 0;
}

#nostrClients, #nostrGlossary {
   list-style-type: none;
   text-decoration: none;
}

.nostrlist {
  padding: 0;
  margin: 0;
}

.nostrClient li, #letter-A li, #letter-B li, #letter-C li, #letter-D li, #letter-E li, #letter-F li, #letter-G li, #letter-H li, #letter-I li, #letter-J li, #letter-K li, #letter-L li, #letter-M li, #letter-N li, #letter-O li, #letter-P li, #letter-Q li, #letter-R li, #letter-S li, #letter-T li, #letter-U li, #letter-V li, #letter-W li, #letter-X li, #letter-Y li, #letter-Z li, #glossary li
{
   list-style-type: none;
   text-decoration: none;
}

/* Style the navigation links */
#nostrClients li a, #letter-A li a, #letter-B li a, #letter-C li a, #letter-D li a, #letter-E li a, #letter-F li a, #letter-G li a, #letter-H li a, #letter-I li a, #letter-J li a, #letter-K li a, #letter-L li a, #letter-M li a, #letter-N li a, #letter-O li a, #letter-P li a, #letter-Q li a, #letter-R li a, #letter-S li a, #letter-T li a, #letter-U li a, #letter-V li a, #letter-W li a, #letter-X li a, #letter-Y li a, #letter-Z li a
{
  border: 3px solid #000;
  padding: 1px;
  text-decoration: none;
  color: var(--offwhite);
  display: block;
}

#glossary li a {
  padding: 1px;
  text-decoration: none;
  color: var(--offwhite);
  display: block;
}

.n-link {
  color: #000000 !important;
  text-decoration: underline !important;
  display: inline !important;
}




.navbar {
  overflow: hidden;
  background-color: var(--offblack);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: var(--offwhite);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--offwhite);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: var(--purple);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--offblack);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: var(--offwhite);
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: var(--purple);
  color: var(--offwhite);
}

.subnav:hover .subnav-content {
  display: block;
}

.video {
  max-width: 100%;
  height: auto;
}
