{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Application header should be static for the landing page */
    .md-header {
      position: initial;
    }

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }
  </style>

  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <!-- Hero image -->
        <div class="mdx-hero__image">
          <img
            src="assets/images/illustration.png"
            alt=""
            width="1659"
            height="1200"
            draggable="false"
          >
        </div>

        <!-- Hero content -->
        <div class="mdx-hero__content">
          <h1 class="home">freedom weaver</h1>
          <h2 class="home">the making of a sci-fi freedom tech story</h2>
          <p>Under the disguise of an end to conflict and an increase in an artificial ease of life, the citizens of _____ feel forced to accept control over their use of technology. Freedom tech is made the scapegoat, turning any innovator and human right protector into an enemy of the state.</p>
          <p>Unaware of the underground struggles to end this inhuman control creeping over every aspect of their lives, _____ starts digging into mysterious happenings tied to her family's past. Guided and protected by the very tech that everyone calls dangerous, it is only a matter of time before she joins those efforts, against everything society tells her to be.</p>
          <br>
          <a
            href="read/index.html"
            title="Read story"
            class="md-button md-button--primary home-read"
          >
            Read
          </a>
          <a
            href="now-and-then/index.html"
            title="Now and then"
            class="md-button home-about"
          >
            About
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}