body,h1
{font-family: "Raleway", sans-serif}

body, html
{height: 100%}

.bgimg {
  background-image: url('../../assets/images/home/background.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.npub {
  word-wrap: break-word;
}
