/* Color variables */
:root {
  /* Primary color shades */
  /* top bar */
  --md-primary-fg-color:               black;
  --md-primary-fg-color--light:        grey;
  --md-primary-fg-color--dark:         black;
  --md-primary-bg-color:               white;
  --md-primary-bg-color--light:        grey;

  /* Accent color shades */
  --md-accent-fg-color:                #dddddd;
  --md-accent-fg-color--transparent:   #dddddd 0.1;
  --md-accent-bg-color:                black;
  --md-accent-bg-color--light:         black 0.5;

}


/* text */

h1 {
  font-size:  2.5em !important;
}

h1.home {
  font-size:  3em;
  padding:  5px 0;
  margin:  0;
}

h2 {
  font-size:  2em !important;
}

h2.home {
  font-size: 1.5em;
  margin:  0 0 35px 0;
}

h3 {
  font-size:  1.8em !important;
}

p {
  font-size:  1.15em;
}

/* links and buttons */

.alpha {
  color:  #C59210;
}

.omega {
  color:  cyan;
}

.chat-left {
  padding:  0 45% 0 5%;
}

.chat-right {
  padding:  0 5% 0 35%;
}

a {
  color:  #C59210 !important;
}

a.home-read {
  color:  black !important;
  background-color:  #C59210 !important;
  border: solid #000000 2px !important;
}

a.home-read:hover {
  background-color: white !important;
}

a.home-about {
  color:  #959595 !important;
  background-color: none !important;
  border:  solid #959595 2px !important;
}

a.home-about:hover {
  background-color: black !important;
}

/* homepage */
.mdx-container {
  padding:  35px;
}

.footnote {
  inline-size:  300px;
  overflow-wrap:  break-word;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-half {
  flex: 50%;
}

.flex-item-third {
  flex: 33%;
}


@media (max-width: 800px) {
  .flex-item-half, .flex-item-third{
    flex: 100%;
  }
} 
