/* Color variables */
:root {
  /* Primary color shades */
  /* top bar */
  --md-primary-fg-color:               black;
  --md-primary-fg-color--light:        grey;
  --md-primary-fg-color--dark:         black;
  --md-primary-bg-color:               white;
  --md-primary-bg-color--light:        grey;

  /* Accent color shades */
  --md-accent-fg-color:                #dddddd;
  --md-accent-fg-color--transparent:   #dddddd 0.1;
  --md-accent-bg-color:                black;
  --md-accent-bg-color--light:         black 0.5;

}


/* homepage */
.mdx-container {
  padding:  35px;
}

a.home-read {
  color:  black !important;
  background-color:  #C59210 !important;
  border: solid #000000 2px !important;
}

a.home-read:hover {
  background-color: white !important;
}

a.home-about {
  color:  #959595 !important;
  background-color: none !important;
  border:  solid #959595 2px !important;
}

a.home-about:hover {
  background-color: black !important;
}


h1.home {
  font-size:  3em;
  padding:  5px 0;
  margin:  0;
}

h2.home {
  font-size: 1.5em;
  margin:  0 0 35px 0;
}