<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{% if page.path contains 'nostrverse' %}sidebar{% endif %}">

    <a class="skip-to-content-link" href="#main">
      Skip to content
    </a>

    {%- include svgs.html -%}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      <div class="page-content-wrapper">

        {%- if page.path contains 'nostrverse' -%}
        <div class="side-bar">
          <nav role="navigation" aria-label="Main" id="secondary-nav" class="secondary-nav">
              {% include secondary-nav.html id="side" %}
          </nav>
        </div>
        {%- endif -%}

        <div class="main{% if page.path contains 'nostrverse' %} sidebar{% endif %}{% if page.main_classes %} {{ page.main_classes }}{% endif %}" id="main">

          {{ content }}

        </div>

      </div>


    </main>

    {%- include footer.html -%}

  </body>

</html>
